{% extends 'main_app/base.html' %}

{% block title %} Confirm Code {% endblock %}

{% block content%}

<div class="col-md-6 offset-md-3">
    <h2>Confirm Account</h2>
    <br>
    <p>Check your email for a message from us containing your confirmation code.</p>
    <form method="post" action="">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Your form has errors:
                {{ form.non_field_errors }}
                {% for field in form %}
                    {% if field.errors %}
                        {{field.errors}}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-floating mb-3">
                {{ field.errors }}
                {{ field }}
                {{ field.label_tag }}
                {% if field.help_text %}
                    <span class="help">{{ field.help_text|safe }}</span>
                {% endif %}
            </div>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-secondary">Submit</button>
        <a href="{% url 'resend_code' %}" class="btn btn-secondary" style="margin-left: 75px;">Resend Code</a>
    </form>
</div>

{% endblock %}