{% extends "main_app/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}
{% load humanize %}

    <script src="{% static 'home_pro.js' %}"></script>
    <link rel="stylesheet" href="{% static 'home_pro.css' %}">
    <input type="hidden" name="noOfCust" id="noOfCustomers">

    <!-- Toasts -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <!-- Successful -->
      <div class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true" id="toastSuccess">
        <div class="toast-header">
          <!-- <img src="" class="rounded me-2" alt="Our Logo"> -->
          <strong class="me-auto">Jovimifah Destiny Store</strong>
          <small class="text-body-secondary">Just now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-light">
          <span id="prodID"></span> added to <span id="custID"></span>'s cart successfully.
        </div>
      </div>
    </div>
    
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <!-- Failed -->
      <div class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true" id="toastError" data-bs-delay="10000">
        <div class="toast-header">
          <!-- <img src="" class="rounded me-2" alt="Our Logo"> -->
          <strong class="me-auto">Jovimifah Destiny Store</strong>
          <small class="text-body-secondary">just now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-light">
          Request failed. Try again at a later time, or refresh this page.
        </div>
      </div>
    </div>

    <!-- Add Debtor modal -->
    <div class="modal fade" id="addDebtorModal" aria-hidden="true" aria-labelledby="addDebtorModalLabel2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-theme="dark">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-light" id="addDebtorModalLabel2">Add Debtor</h1>
          </div>
          <div class="modal-body text-light">
            Debtor Information
          </div>
          <div class="modal-footer">
              <a class="btn btn-light" data-bs-target="#productInfoModal" data-bs-toggle="modal">Update</a>
              <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Debtor modal -->
    <div class="modal fade" id="editDebtorModal" aria-hidden="true" aria-labelledby="editDebtorModalLabel2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-theme="dark">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-light" id="editDebtorModalLabel2">Edit Debtor</h1>
          </div>
          <div class="modal-body text-light">
            Debtor Information
          </div>
          <div class="modal-footer">
              <a class="btn btn-light" data-bs-target="#productInfoModal" data-bs-toggle="modal">Update</a>
              <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <a href="" class="btn btn-dark" role="button" data-bs-toggle="modal" data-bs-target="#addDebtorModal">Add Debtor</a>
   
    <div class="d-flex flex-wrap justify-content-center">
        <!-- Available items (Items in stock) -->
        {% for debtor in debtors %}
            {% if debtor.singles_stock > 0 %}
              <div class="me-3 mb-3 oneProduct">
                <a class="link-offset-2 link-underline link-underline-opacity-0" href="#" role="button" data-bs-toggle="modal" data-bs-target="#editDebtorModal" data-slug="{{ debtor.slug }}">
                  <div class="card h-100">
                      <img src="{{ debtor.image.0 }}" class="card-img-top" alt="Product's Image" width="50">
                      <div class="card-body">
                          {{ debtor.name|truncatechars:32 }} <br>
                          <strong>₦{{ debtor.retail_price|intcomma }}</strong>
                      </div>
                  </div>
                </a>
              </div>
            {% endif %}
        {% empty %}
            <div><p>No debtor found. Contact the site administrator for help.</p></div>
        {% endfor %}

{% endblock %}