{% extends 'main_app/base.html' %}

{% block title %} Edit Product {% endblock %}
<!-- Continue here 2180809914-->
{% block content%}
{% load static %}
<script src="{% static 'edit_depend.js' %}"></script>

<div class="container">
    <h2>Edit Product</h2>
    <div class="d-flex justify-content-center mb-2">
        {% cache c_timeout prod_pic %}
        <img src="{{ p_image }}" alt="Product's Image" id="the_product_image" class="rounded" width="200px">
        {% endcache %}
    </div>
    <div class="d-flex justify-content-center mb-2">
        <p class="fs-5" id="the_product_name">{{ p_name }}</p>
    </div>
    <br>
    <form method="post" action="" enctype="multipart/form-data" id="super_form">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <b>Your form has errors:</b>
                <br>
                {% for field in form %}
                    {% if field.errors %}
                    {{ field.label }}:
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="row g-2">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    {{ form.brand_name }}
                    {{ form.brand_name.label_tag }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    {{ form.product_name }}
                    {{ form.product_name.label_tag }}
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    {{ form.size }}
                    {{ form.size.label_tag }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form.product_image.label_tag }}
                    {{ form.product_image }}
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">₦</span>
                    <div class="form-floating">
                        {{ form.retail_price }}
                        {{ form.retail_price.label_tag }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">₦</span>
                    <div class="form-floating">
                        {{ form.wholesale_price }}
                        {{ form.wholesale_price.label_tag }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row g-2">
            <div class="form-floating mb-3 col-md-6">
                {{ form.is_divisible }}
                {{ form.is_divisible.label_tag }}
            </div>
            <div class="form-floating mb-3 col-md-6">
                {{ form.is_discount }}
                {{ form.is_discount.label_tag }}
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6 d-none d-lg-block">
                <div class="ps-1"><b></b></div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">₦</span>
                    <div class="form-floating">
                        {{ form.discount_retail_price }}
                        {{ form.discount_retail_price.label_tag }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-2">
            <div class="form-floating mb-3 col-md-6">
                {{ form.has_bulk }}
                {{ form.has_bulk.label_tag }}
            </div>
        </div>
        <div id="bulk_holder">
            {% for piece in form.extra %}
            <div class="row justify-content-evenly">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="bulk_type_{{ forloop.counter }}">Type of Bulk {{ forloop.counter }}</label>
                        <input name="bulk_type_{{ forloop.counter }}" id="bulk_type_{{ forloop.counter }}" value="{{ piece.bulk_type }}" autocomplete="off" list="bulk_type_" class="form-control" data-numbering="type_num">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">₦</span>
                        <div class="form-floating">
                            <input type="number" name="bulk_price_{{ forloop.counter }}" id="bulk_price_{{ forloop.counter }}" value="{{ piece.bulk_price }}" class="form-control"  placeholder="bulk price">
                            <label for="bulk_price_{{ forloop.counter }}">Price of Bulk {{ forloop.counter }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="number" name="no_in_bulk_{{ forloop.counter }}" id="no_in_bulk_{{ forloop.counter }}" value="{{ piece.no_in_bulk }}" max="500" class="form-control"  placeholder="no in bulk">
                        <label for="no_in_bulk_{{ forloop.counter }}">Number In Bulk {{ forloop.counter }}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="bulk_image_{{ forloop.counter }}">Bulk {{ forloop.counter }}'s Image</label>
                        <input type="file" name="bulk_image_{{ forloop.counter }}" id="bulk_image_{{ forloop.counter }}" class="form-control">
                    </div>
                </div>
                <!-- The temporary hold in question -->
                <div class="col-md-2" id="button_hold_{{ forloop.counter }}">
                    <br class="d-none d-lg-block" id="the_break" data-destruction="yes" {% if forloop.last %} data-exemption="yes" {% endif %}>
                    <button type="button" class="btn btn-success" id="plus_button" onclick="add_bulk()" data-destruction="yes" {% if forloop.last %} data-exemption="yes" {% endif %}>
                        <img src="{% static 'app_media/plus-item2.png' %}" alt="Trash Bin" width="24" height="24">
                    </button>
                    <button type="button" class="btn btn-danger" id="minus_button" onclick="remove_bulk()" data-destruction="yes" {% if forloop.last %} data-exemption="yes" {% endif %}>
                        <img src="{% static 'app_media/delete-bin.png' %}" alt="Trash Bin" width="24" height="24">
                    </button>
                </div>
            </div>
            {% empty %}
            <div class="row justify-content-evenly">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="bulk_type_1">Type of Bulk 1</label>
                        <input name="bulk_type_1" id="bulk_type_1" autocomplete="off" list="bulk_type_" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">₦</span>
                        <div class="form-floating">
                            <input type="number" name="bulk_price_1" id="bulk_price_1" class="form-control"  placeholder="bulk price">
                            <label for="bulk_price_1">Price of Bulk 1</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="number" name="no_in_bulk_1" id="no_in_bulk_1" max="500" class="form-control"  placeholder="no in bulk">
                        <label for="no_in_bulk_1">Number In Bulk 1</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="bulk_image_1">Bulk 1's Image</label>
                        <input type="file" name="bulk_image_1" id="bulk_image_1" class="form-control">
                    </div>
                </div>
                <!-- The temporary hold in question -->
                <div class="col-md-2" id="button_hold_1">
                    <br class="d-none d-lg-block" id="the_break">
                    <button type="button" class="btn btn-success" id="plus_button" onclick="add_bulk()">
                        <img src="{% static 'app_media/plus-item2.png' %}" alt="Trash Bin" width="24" height="24">
                    </button>
                    <button type="button" class="btn btn-danger" id="minus_button" onclick="remove_bulk()">
                        <img src="{% static 'app_media/delete-bin.png' %}" alt="Trash Bin" width="24" height="24">
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
        <br class="d-lg-none" id="separator">
        <div class="row g-2">
            <div class="form-floating mb-3 col-md-6">
                {{ form.is_carton_bag }}
                {{ form.is_carton_bag.label_tag }}
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">₦</span>
                    <div class="form-floating">
                        {{ form.carton_price }}
                        {{ form.carton_price.label_tag }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    {{ form.no_in_carton }}
                    {{ form.no_in_carton.label_tag }}
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-md-4">
                <div class="mb-3">
                    {{ form.carton_image.label_tag }}
                    {{ form.carton_image }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    {{ form.carton_stock }}
                    {{ form.carton_stock.label_tag }}
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    {{ form.is_carton_divisible }}
                    {{ form.is_carton_divisible.label_tag }}
                </div>
            </div>
            <div class="col-md-4 d-none d-lg-block">
                <div class="ps-1"><b></b></div>
            </div>
        </div>

        <div class="row justify-content-evenly">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">₦</span>
                    <div class="form-floating">
                        {{ form.bag_price }}
                        {{ form.bag_price.label_tag }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    {{ form.no_in_bag }}
                    {{ form.no_in_bag.label_tag }}
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-md-4">
                <div class="mb-3">
                    {{ form.bag_image.label_tag }}
                    {{ form.bag_image }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    {{ form.bag_stock }}
                    {{ form.bag_stock.label_tag }}
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    {{ form.is_bag_divisible }}
                    {{ form.is_bag_divisible.label_tag }}
                </div>
            </div>
            <div class="col-md-4 d-none d-lg-block">
                <div class="ps-1"><b></b></div>
            </div>
        </div>

        <div class="row g-2">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    {{ form.singles_stock }}
                    {{ form.singles_stock.label_tag }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    {{ form.tags }}
                    {{ form.tags.label_tag }}
                    <span class="help">{{ field.help_text|safe }}</span>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div>
                <label for="description">Description:</label>
                {{ form.description }}
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Submit</button>
        <a href="{% url 'home' %}" class="btn btn-dark">Cancel</a>
        <datalist id="bulk_type_">
            {% for choice in bulk %}
                <option value="{{ choice }}">
            {% endfor %}
        </datalist>
    </form>
</div>

{% endblock %}