{% extends "main_app/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}
{% load humanize %}

    <script src="{% static 'home_pro.js' %}"></script>
    <link rel="stylesheet" href="{% static 'home_pro.css' %}">
    <input type="hidden" name="noOfCust" id="noOfCustomers">

    <!-- Modal for products -->
    <div class="modal fade" id="productInfoModal" tabindex="-1" aria-labelledby="productInfoModalLabel" aria-hidden="true" data-bs-theme="dark">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-light d-none d-lg-block d-xl-block d-xxl-block" id="productInfoModalLabel"></h1>
              <div class="float-end">
                <button type="button" class="btn btn-light text-nowrap" id="priceCall" data-bs-target="#prodPriceModal" data-bs-toggle="modal">Update Prices</button>
                <a href="#" class="btn btn-light text-nowrap" id="editCall">Edit Product</a>
              </div>
            </div>
            <div class="modal-body text-light">
              <div class="d-flex justify-content-center">
                <div id="ze_spinner" class="spinner-grow" style="width: 3rem; height: 3rem; margin-right: 150px; margin-top: 200px; margin-left: 150px; margin-bottom: 300px;" role="status">
                </div>
              </div>
              {% csrf_token %}
              <div class="container-fluid" id="product_content">
                <div class="d-flex justify-content-center" id="picHold">
                </div>
                <div id="productHold">
                  <h6 class="fs-6 d-flex justify-content-center" id="prodName"></h6>
                  <h3 class="fs-3 d-flex justify-content-center" id="prodPrice"></h3>
                  <input type="hidden" name="priced" id="priceHold">
                  <!-- Alert should be created using java script, using this design -->
                  <div id="prodExists"></div>
                  <div id="saleID">
                    <div class="d-flex justify-content-start">
                      <h4 class="me-2">Sale Type:</h4>
                      <h4 id="saleType"></h4>
                    </div>
                  </div>
                  <div class="d-flex flex-wrap" id="buttonHolder">
                  </div> <br>
                  <div class="d-flex justify-content-start">
                    <h4 class="me-2">Quantity:</h4>
                    <h4 id="totalQuantity">1</h4>
                    <input type="hidden" name="quant" id="quantleft">
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="isWhole">
                    <label class="form-check-label" for="isWhole">Customer only wants Half/Quarter</label>
                  </div>
                  <div class="container text-center">
                    <div class="row g-2 align-items-center" id="quantHold">
                      <div class="col-auto"><button type="button" class="btn btn-light" id="minus_button" >-</button></div>
                      <div class="col-2">
                        <input type="number" class="form-control" name="quantity" id="prodquantity" value="1" onclick="this.select()">
                        <!-- Make this into check buttons instead (not radio) -->
                      </div>
                      <div class="col-auto"><button type="button" class="btn btn-light" id="plus_button">+</button></div>
                      <div class="col-auto">
                        <input type="checkbox" class="btn-check" id="half_button" autocomplete="off" name="oquantity" value="0.5">
                        <label class="btn btn-outline-light" for="half_button">Half (½)</label>
                      </div>
                      <div class="col-auto">
                        <input type="checkbox" class="btn-check" id="quart_button" autocomplete="off" name="oquantity" value="0.25">
                        <label class="btn btn-outline-light" for="quart_button">Quarter (¼)</label>
                      </div>
                      <div class="col-auto">
                        <span id="quantityLeft" class="form-text">
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="d-flex flex-row" id="custInfo">
                <div class="me-2 ms-2"><input autocomplete="off" placeholder="Type to select/add Cart" id="openCart" list="cartList" class="form-control"></div>
                <div>
                  <button type="button" class="btn btn-light text-nowrap" id="addToCart">Add To Cart</button>
                  <button type="button" id="load_button" class="btn btn-light" disabled>
                    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                    <span role="status">Loading...</span>
                  </button>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel_buy">Cancel</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Toasts -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <!-- Successful -->
      <div class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true" id="toastSuccess">
        <div class="toast-header">
          <!-- <img src="" class="rounded me-2" alt="Our Logo"> -->
          <strong class="me-auto">Jovimifah Destiny Store</strong>
          <small class="text-body-secondary">Just now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-light">
          <span id="prodID"></span> added to <span id="custID"></span>'s cart successfully.
        </div>
      </div>
    </div>
    
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <!-- Failed -->
      <div class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true" id="toastError" data-bs-delay="10000">
        <div class="toast-header">
          <!-- <img src="" class="rounded me-2" alt="Our Logo"> -->
          <strong class="me-auto">Jovimifah Destiny Store</strong>
          <small class="text-body-secondary">just now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-light">
          Request failed. Try again at a later time, or refresh this page. Contact the site administrator if issue persists.
        </div>
      </div>
    </div>

    <div class="toast-container position-fixed top-0 end-0 p-3">
      <!-- Update Successful -->
      <div class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true" id="toastUpdate">
        <div class="toast-header">
          <!-- <img src="" class="rounded me-2" alt="Our Logo"> -->
          <strong class="me-auto">Jovimifah Destiny Store</strong>
          <small class="text-body-secondary">Just now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-light">
          Product updated in <span id="customID"></span>'s cart successfully.
        </div>
      </div>
    </div>

    <div class="toast-container position-fixed top-0 end-0 p-3">
      <!-- Price Update -->
      <div class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true" id="toastPriceSuccess">
        <div class="toast-header">
          <!-- <img src="" class="rounded me-2" alt="Our Logo"> -->
          <strong class="me-auto">Jovimifah Destiny Store</strong>
          <small class="text-body-secondary">Just now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-light">
          <span id="upd_prod"></span>'s price updated successfully.
        </div>
      </div>
    </div>

    <!-- Price modal -->
    <div class="modal fade" id="prodPriceModal" aria-hidden="true" aria-labelledby="prodPriceModalLabel2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-theme="dark">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-light">
            <div class="d-flex justify-content-center mb-2">
              <img src="" alt="" id="update_pic">
            </div>
            <div class="d-flex justify-content-center mb-2">
              <p class="fs-5" id="product_name"></p>
            </div>
            <div id="price_container">
              <!-- Retail Price -->
              <div class="row g-3 mb-2">
                <div class="col-auto">
                  <label for="retail_price" class="col-form-label">Retail Price:</label>
                </div>
                <div class="col-auto">
                  <div class="input-group">
                    <span class="input-group-text">₦</span>
                    <input type="number" class="form-control" id="retail_price" placeholder="0.00" autocomplete="off">
                  </div>
                </div>
              </div>

              <!-- Wholesale Price -->
              <div class="row g-3 mb-2">
                <div class="col-auto">
                  <label for="wholesale_price" class="col-form-label">Wholesale Price:</label>
                </div>
                <div class="col-auto">
                  <div class="input-group">
                    <span class="input-group-text">₦</span>
                    <input type="number" class="form-control" id="wholesale_price" placeholder="0.00" autocomplete="off">
                  </div>
                </div>
              </div>
              
              <!-- Bulk prices added after this line -->

              <!-- Carton Price -->
              <div class="row g-3 mb-2">
                <div class="col-auto">
                  <label for="carton_bag_price" class="col-form-label" id="carton_label">Carton Price:</label>
                </div>
                <div class="col-auto">
                  <div class="input-group">
                    <span class="input-group-text">₦</span>
                    <input type="number" class="form-control" id="carton_bag_price" placeholder="0.00" autocomplete="off">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-light" id="initiate_update">Update</button>
              <button type="button" id="load_button_two" class="btn btn-light" disabled>
                <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                <span role="status">Loading...</span>
              </button>
              <button type="button" class="btn btn-secondary" data-bs-target="#productInfoModal" data-bs-toggle="modal" id="cancel_price">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="" class="d-block w-100" alt="1st Picture">
            </div>
            Run for loop against one div here
            <div class="carousel-item">
                <img src="" class="d-block w-100" alt="Other Pic">
            </div>
            <div class="carousel-item">
                <img src="" class="d-block w-100" alt="Other Picture">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div> -->

    {% if is_staff %}
      <div class="row mb-3">
        <div class="col-sm-7">
          <input type="search" class="form-control" name="search_product" id="search_product" autocomplete="off" placeholder="Search products">
        </div>
      </div>
      
      <div class="d-flex flex-wrap justify-content-center">
        <!-- Available items (Items in stock) -->
        {% for item in inventory %}
          {% if item.singles_stock > 0 %}
            <div class="me-3 mb-3 oneProduct">
              <a class="link-offset-2 link-underline link-underline-opacity-0" href="#" role="button" data-bs-toggle="modal" data-bs-target="#productInfoModal" data-slug="{{ item.slug }}">
                <div class="card h-100">
                  <img src="{{ item.product_image.0 }}" class="card-img-top" alt="Product's Image" width="50">
                  <div class="card-body">
                    {{ item.name|truncatechars:36 }} <br>
                    <strong>₦{{ item.retail_price|intcomma }}</strong>
                  </div>
                </div>
              </a>
            </div>
          {% endif %}
        {% empty %}
          <div><p>No item found in inventory. Contact the site administrator for help.</p></div>
        {% endfor %}

        <!-- Unavailable items (items out of stock) -->
        {% for item in inventory %}
            {% if item.singles_stock == 0 %}
                <a href="#" role="button">
                  <div class="me-3 mb-3 oneProduct">
                    <div class="card h-100">
                      <img src="{{ item.product_image.0}}" class="card-img-top" alt="Product's Image" width="50">
                      <div class="card-body">
                        {{ item.name|truncatechars:20 }} <br>
                        <strong>₦{{ item.retail_price|intcomma }}</strong> <br>
                        Needs replacing.
                      </div>
                    </div>
                  </div>
                </a>
            {% endif %}
        {% endfor %}
      </div>
    {% endif %}

{% endblock %}