{% extends "main_app/base.html" %}

{% block title %} Carts {% endblock %}

{% block content %}
{% load static %}
{% load humanize %}

  <script src="{% static 'staff_cart.js' %}"></script>
  <link rel="stylesheet" href="{% static 'staff_cart.css' %}">
  <input type="hidden" name="noOfCust" id="noOfCustomers">

  <div class="toast-container position-fixed top-0 end-0 p-3">
    <!-- Failed -->
    <div class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true" id="toastError" data-bs-delay="10000">
      <div class="toast-header">
        <!-- <img src="..." class="rounded me-2" alt="..."> -->
        <strong class="me-auto">Jovimifah Destiny Store</strong>
        <small class="text-body-secondary">just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body text-light">
        Request failed. Try again at a later time, or refresh this page.
      </div>
    </div>
  </div>

  <div class="col-md-6 offset-md-3">
    <input type="hidden" id="currNum">
    {% for cart in carts %}
      <div class="card parent-card mb-3" data-bs-theme="dark">
        <h5 class="card-header">{{ cart.name_of_buyer}}'s Cart</h5>
        <div class="card-body">
          {% for item in cart.items %}
            <div class="card mb-2" data-bs-theme="light">
              <div class="card-body">
                <div class="d-flex align-items-center ">
                  <div class="flex-shrink-0">
                    <img src="{{ item.product_image }}" alt="Product's Image" width="80">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    {{ item.product_name }} <br>
                    <strong>Sale Type:</strong> {{ item.sale_type }}  Quantity: {{ item.product_quantity }} <br>
                    <strong>₦{{ item.product_price|intcomma }}</strong>
                    <input type="hidden" name="slug" value="{{ item.product_slug }}">
                  </div>
                </div>
              </div>
              <div class="card-footer text-end text-bg-secondary">
                Sub-total = ₦{{ item.subTotal|intcomma }}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="card-footer text-bg-secondary text-end">
          <h5>Total Amount Due: ₦{{ cart.total_amount|intcomma }}</h5>
          <input type="hidden" id="totalAmount_{{ forloop.counter }}" value="{{ cart.total_amount }}">
          <h5>Total Amount Owed: <span class="owable" >₦<span id="owed_{{ forloop.counter }}">{{ cart.amount_owed|intcomma }}</span></span></h5>
          <input type="hidden" id="amountOwed_{{ forloop.counter }}" value="{{ cart.amount_owed }}">
          <div class="d-flex justify-content-end mb-2">
            <h5 class="me-2">Amount Paid:</h5>
            <div class="input-group input-group-sm payable">
              <span class="input-group-text" id="inputGroup-sizing-sm">₦</span>
              <input type="number" class="form-control" name="amoutPaid_{{ forloop.counter }}" id="amountPaid_{{ forloop.counter }}">
            </div>
          </div>
          <button type="button" id="purchaseOrder_{{ forloop.counter }}" class="btn btn-primary purchases" data-bs-toggle="modal" data-bs-target="#confirmPurchase">Pay Order</button>
        </div>
      </div>
    {% empty %}
        <div><p id="exception">No customer is being attended to. Add a <a href="{% url 'home' %}">product</a> to see it here.</p></div>
    {% endfor %}
  </div>

{% endblock %}