{% extends "main_app/base.html" %}

{% block title %} Carts {% endblock %}

{% block content %}
{% load static %}
{% load humanize %}

  <script src="{% static 'staff_cart.js' %}"></script>
  <link rel="stylesheet" href="{% static 'staff_cart.css' %}">
  <input type="hidden" name="noOfCust" id="noOfCustomers">

  <!-- Purchase Summary Modal -->
  <div class="modal fade" id="confirmPurchaseModal" tabindex="-1" aria-labelledby="confirmPurchaseLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content text-light">
        <!-- Probably don't need header -->
        <div class="modal-body">
          <br>
          <div class="d-flex justify-content-center">
            <img src="{% static 'app_media/info.png' %}" alt="Info Image" width="75px" height="75px">
          </div>
          <br>
          <div id="infoLand">
            <h3 class="d-flex justify-content-center ms-5 me-5">Order Purchase Summary</h3>
            <br>
            <p id="custName" class="mb-0 d-flex justify-content-center fs-5"></p>
            <input type="hidden" id="hiddenCustName">
            <p class="fs-5 d-flex justify-content-center">Total Cost of Order: ₦<span class="fs-5 fw-bold" id="orderTotal"></span></p>
            <input type="hidden" id="hiddenAmtDebt">
          </div>
          <br>
          <div id="actionLand">
            <input type="hidden" id="custType">
            <div class="d-flex justify-content-center">
              <div class="card" style="width: 20rem;" id="arrange">
                <div class="mt-1 mb-2 d-flex justify-content-center">
                  <img src="{% static 'app_media/warning.png' %}" class="" alt="Warning Image" width="25px" height="25px">
                </div>
                <p id="quest" class="mt-0 me-1 fs-5 mb-0 d-flex justify-content-center"></p>
                <p id="addInfo" class="fs-5 d-flex justify-content-center"></p>
              </div>
            </div>
            <br>
            <h4 class="d-flex justify-content-center">Proceed to pay order?</h4>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" id="confirmPay">OK</button>
          <button type="button" id="load_payment" class="btn btn-light">
            <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
            <span role="status">Loading...</span>
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Debtor modal -->
  <div class="modal fade" id="updateDebtorModal" aria-hidden="true" aria-labelledby="updateDebtorModalLabel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content text-light">
        <div class="modal-body">
          <div class="text-center">
            <div id="ze_spinner" class="spinner-grow" style="width: 3rem; height: 3rem; margin-right: 100px; margin-top: 200px; margin-left: 100px; margin-bottom: 200px;" role="status">
            </div>
          </div>
          <div id="debtor_content">
            <div id="warn_user">
              <div class="d-flex justify-content-center">
                <div class="card" style="width: 29rem; background-color: darkred;">
                  <div class="mt-1 mb-2 d-flex justify-content-center">
                    <img src="{% static 'app_media/warning.png' %}" class="" alt="Warning Image" width="25px" height="25px">
                  </div>
                  <p class="mt-0 mb-0 d-flex justify-content-center">Additional Customer information is required.</p>
                  <p class="d-flex justify-content-center">Customer owes money and must be updated accordingly.</p>
                </div>
              </div>
              <br>
            </div>
            <br>
            <!-- buttons for existing and new debtors -->
            <div class="mb-3">
              <input type="radio" class="btn-check" name="debtor_type" value="new_debtor" id="add_debtor" autocomplete="off" checked>
              <label class="btn btn-outline-light" for="add_debtor">Add New Debtor</label>
              <span class="ms-2" id="hold_update_button">
                <input type="radio" class="btn-check" name="debtor_type" value="old_debtor" id="update_debtor" autocomplete="off">
                <label class="btn btn-outline-light" for="update_debtor">Update Existing Debtor</label>
              </span>
            </div>

            <div class="needs-validation" id="new_debtor_form">
              {% csrf_token %}
              <div class="input-group mb-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="first_name" placeholder="name" required>
                  <label for="first_name">First Name</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="last_name" placeholder="name">
                  <label for="last_name">Last Name</label>
                </div>
              </div>
              <div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="email" placeholder="name@example.com">
                  <label for="email">Email address</label>
                </div>
              </div>
              <div class="form-floating mb-3">
                <select class="form-select" id="gender" aria-label="Gender label select">
                  <option selected disabled value="">--Select one--</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                <label for="gender">Gender</label>
              </div>
              <div class="input-group mb-3">
                <div class="form-floating">
                  <select class="form-select" id="dialing_code" aria-label="Dialing Code label select">
                    <option selected value="+234">+234 (Nigeria)</option>
                    <option value="+233">+233 (Ghana)</option>
                    <option value="+1">+1 (USA)</option>
                    <option value="+44">+44 (UK)</option>
                  </select>
                  <label for="dialing_code">Country Code</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="phone_number" placeholder="name" minlength="10" maxlength="11">
                  <label for="phone_number">Phone Number</label>
                </div>
              </div>
              <div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="address" placeholder="No. 12, Super way">
                  <label for="address">Address</label>
                </div>
              </div>
              <div>
                <div class="form-floating mb-1">
                  <input type="text" class="form-control" id="state" placeholder="FCT">
                  <label for="state">State</label>
                </div>
              </div>
              <div>
                <div class="form-floating mb-1">
                  <input type="text" readonly class="form-control-plaintext" id="amount_owed" placeholder="" value="">
                  <label for="amount_owed">Amount Owed</label>
                </div>
              </div>
              <input type="hidden" id="hidden_amount_owed">
              <div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="description" placeholder="Describe debtor">
                  <label for="description">Description</label>
                </div>
              </div>
            </div>

            <div id="update_debtor_div">
              <input type="search" class="form-control" name="search_debtor" id="search_debtor" autocomplete="off" placeholder="Search debtors">
              <br>
              <ul class="list-group" id="debtor_list">
              </ul>
            </div>
            <div id="update_debtor_form">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="upd_full_name" placeholder="" value="">
                <label for="upd_full_name">Full Name</label>
              </div>
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="upd_phone" placeholder="" value="">
                <label for="upd_phone">Phone Number</label>
              </div>
              <input type="hidden" id="upd_act_phone">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="upd_description" placeholder="" value="">
                <label for="upd_description">Description</label>
              </div>
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="upd_address" placeholder="" value="">
                <label for="upd_address">Address</label>
              </div>
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="upd_old_amount" placeholder="" value="">
                <label for="upd_old_amount">Old Amount Owed</label>
              </div>
              <input type="hidden" id="upd_act_old_amount">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="upd_new_amount" placeholder="" value="">
                <label for="upd_new_amount">New Amount Owed</label>
              </div>
              <input type="hidden" id="upd_act_new_amount">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="upd_total_debt" placeholder="" value="">
                <label for="upd_total_debt">Total Amount Owed</label>
              </div>
              <input type="hidden" id="upd_act_total_debt">
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" id="submitDebt">Submit</button>
            <button type="button" id="load_button" class="btn btn-light" disabled>
              <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
              <span role="status">Loading...</span>
            </button>
            <button type="button" class="btn btn-secondary" data-bs-target="#confirmPurchaseModal" data-bs-toggle="modal" id="cancelDebtButton">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- TXN-Successful modal -->
  <div class="modal fade" id="txnSuccessfulModal" aria-hidden="true" aria-labelledby="txnSuccessfulModalLabel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content text-light">
        <div class="modal-body">
          <br>
          <div class="d-flex justify-content-center">
            <video muted width="75" height="75" src="{% static 'app_media/verified.mp4' %}" id="checkVideo">
              Checked icon: Transaction successful
            </video>
          </div>
          <br>
          <h3 class="d-flex justify-content-center ms-5 me-5">Transaction Successful</h3>
          <p class="fs-5 d-flex justify-content-center">Tran. ID: <span class="span-space">.</span><span id="txnInfo"></span></p>
          <p class="fs-5 mt-0 d-flex justify-content-center">Ref. No.: <span class="span-space">.</span><span id="refNo"></span></p>
          <p class="fs-5 d-flex justify-content-center">You can give the customer his/her goods.</p>
          <p class="fs-5 d-flex justify-content-center" id="descrip_text"></p>
          <p class="fs-5 d-flex justify-content-center" id="more_text"></p>
          <br>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-light" id="refresh_button">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirm Delete modal -->
  <div class="modal fade" id="confirm_delete_modal" aria-hidden="true" aria-labelledby="confirm_delete_modalLabel2" tabindex="-1" data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-light">
          Are you sure you want to delete <span id="prod_name" class="fw-bold"></span>
          from <span id="cust_name" class="fw-bold"></span>'s cart?
        </div>
        <div class="modal-footer">
            <a href="#" role="button" class="btn btn-light" id="confirm_delete" data-bs-dismiss="modal">Delete</a>
            <button type="button" id="load_button_two" class="btn btn-light">
              <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
              <span role="status">Loading...</span>
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirm_cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="toast-container position-fixed top-0 end-0 p-3">
    <!-- Failed -->
    <div class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true" id="toastError" data-bs-delay="10000">
      <div class="toast-header">
        <!-- <img src="" class="rounded me-2" alt="Our Logo"> -->
        <strong class="me-auto">Jovimifah Destiny Store</strong>
        <small class="text-body-secondary">just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body text-light">
        Request failed. Try again at a later time, or refresh this page. Contact the site administrator if issue persists.
      </div>
    </div>
  </div>

  <div class="col-md-6 offset-md-3">
    <input type="hidden" id="currNum">
    {% for cart in carts %}
      <div class="card parent-card mb-3" data-bs-theme="dark">
        <h5 class="card-header">{{ cart.name_of_buyer }}'s Cart</h5>
        <div class="card-body">
          {% for item in cart.items %}
          <div class="an-item">
            <div class="card" data-bs-theme="light">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img src="{{ item.product_image }}" alt="Product's Image" width="80" height="80">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    {{ item.product_name }} <br>
                    <strong>Sale Type:</strong> {{ item.sale_type }}  <strong>Quantity:</strong> <span class="item-quantity">{{ item.product_quantity }}</span> <br>
                    <h5><strong>₦{{ item.product_price|intcomma }}</strong></h5>
                    <input type="hidden" name="hidden_item_price" data-slug="{{ item.product_slug }}" data-customer="{{ cart.name_of_buyer }}" value="{{ item.product_price }}">
                  </div>
                </div>
                <a class="delete-item link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#" role="button" data-bs-toggle="modal" data-bs-target="#confirm_delete_modal" data-product="{{ item.product_name }}" data-slug="{{ item.product_slug }}" data-customer="{{ cart.name_of_buyer }}">
                  Delete
                </a>
              </div>
              <div class="card-footer text-end text-bg-secondary">
                Sub-total = ₦{{ item.sub_total|intcomma }}
                <input type="hidden" name="hidden_item_sub_total" data-slug="{{ item.product_slug }}" data-customer="{{ cart.name_of_buyer }}" value="{{ item.sub_total }}">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="card-footer text-bg-secondary text-end">
          <h5>Total Amount Due: ₦<span data-customertotal="{{ cart.name_of_buyer }}">{{ cart.total_amount|intcomma }}</span></h5>
          <input type="hidden" id="totalAmount_{{ forloop.counter }}" name="hidden_total_amount" data-customer="{{ cart.name_of_buyer }}" value="{{ cart.total_amount }}">
          <h5>Total Amount Owed: <span class="owable" >₦<span id="owed_{{ forloop.counter }}" data-customerowed="{{ cart.name_of_buyer }}">{{ cart.amount_owed|intcomma }}</span></span></h5>
          <input type="hidden" id="amountOwed_{{ forloop.counter }}" name="hidden_amount_owed" data-customer="{{ cart.name_of_buyer }}" value="{{ cart.amount_owed }}">
          <div class="d-flex justify-content-end mb-2">
            <h5 class="me-2">Amount Paid:</h5>
            <div class="input-group input-group-sm payable">
              <span class="input-group-text" id="inputGroup-sizing-sm">₦</span>
              <input type="number" class="form-control" name="amoutPaid_{{ forloop.counter }}" data-customer="{{ cart.name_of_buyer }}" id="amountPaid_{{ forloop.counter }}">
            </div>
          </div>
          <button type="button" id="purchaseOrder_{{ forloop.counter }}" class="btn btn-light purchases" 
            data-bs-toggle="modal" data-bs-target="#confirmPurchaseModal" data-customer="{{ cart.name_of_buyer }}" data-amount="{{ cart.total_amount }}"
            data-identify="purchaseOrder_{{ forloop.counter }}">
            Pay Order
          </button>
        </div>
      </div>
    {% empty %}
        <div><p id="exception">No customer is being attended to. Add a <a href="{% url 'home' %}">product</a> to see it here.</p></div>
    {% endfor %}
  </div>

{% endblock %}