{% extends "main_app/base.html" %}

{% block title %} Transactions {% endblock %}

<!-- Continue here -->
{% block content%}
{% load static %}
{% load humanize %}

<script src="{% static 'transact_pro.js' %}"></script>

<form action="" method="">
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-auto">
                <div class="row">
                    <label for="start_date" class="col-auto text-nowrap">Start Date</label>    
                    <div class="col-auto">
                        <input type="date" id="start_date" name="start_date" class="form-control" value="{{ started_date }}">
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row">
                    <label for="end_date" class="col text-nowrap">End Date</label>
                    <div class="col">
                        <input type="date" id="end_date" name="end_date" class="form-control" value="{{ ended_date }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-dark">Get Transactions</button>
    </div>
</form>

<div class="d-none d-md-block d-lg-block d-xl-block d-xxl-block">
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">TXN Date</th>
              <th scope="col">TXN Type</th>
              <th scope="col">Customer</th>
              <th scope="col">Staff ID</th>
              <th scope="col">Total Amount</th>
              <th scope="col">Amount Paid</th>
              <th scope="col">Balance</th>
            </tr>
          </thead>
          <tbody>
            {% for txn in transactions %}
                <tr>
                    <td>{{ txn.checkout_date|date:"D d M Y" }} {{ txn.checkout_date|time:"H:i" }}</td>
                    <td>{{ txn.txn_type }}</td>
                    <td><a href="#" data-details="{{ txn.reference_no }}">{{ txn.name_of_buyer }}</a></td>
                    <td>{{ txn.staff_id }}</td>
                    <td>₦{{ txn.total_amount|intcomma }}</td>
                    <td>₦{{ txn.amount_paid|intcomma }}</td>
                    {% if txn.txn_type == "Cash Payment" %}
                        <td>N.A.</td>
                    {% else %}
                        {% if txn.amount_owed < 0 %}
                            <td>₦{{ txn.amount_owed|intcomma|cut:"-" }} (Change)</td>
                        {% elif txn.amount_owed == 0 %}
                            <td>₦{{ txn.amount_owed|intcomma }}</td>
                        {% else %}
                            <td>₦{{ txn.amount_owed|intcomma }} (Debt)</td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    No transactions for the given time range. <br>
                    Select a different time range or <a href="{% url 'home' %}">purchase</a> some products for customers to see transactions here.
                </tr>
            {% endfor %}
          </tbody>
    </table>
</div>

<div class="d-block d-md-none">
    {% for txn in transactions %}
    <div class="me-3 mb-3 oneTransact">
        <a class="link-offset-2 link-underline link-underline-opacity-0" href="#" data-details="{{ txn.reference_no }}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ txn.name_of_buyer }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Transaction Type: {{ txn.txn_type }}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Total Amount: ₦{{ txn.total_amount|intcomma }}  || Amount Paid: ₦{{ txn.amount_paid|intcomma }}</h6>
                    <p class="card-text">Transaction Date: {{ txn.checkout_date|date:"D d M Y" }} {{ txn.checkout_date|time:"H:i" }}</p>
                    <p class="card-text">
                        Balance: {% if txn.txn_type == "Cash Payment" %}
                        N.A.
                        {% else %}
                            {% if txn.amount_owed < 0 %}
                                ₦{{ txn.amount_owed|intcomma|cut:"-" }} (Change)
                            {% elif txn.amount_owed == 0 %}
                                ₦{{ txn.amount_owed|intcomma }}
                            {% else %}
                                ₦{{ txn.amount_owed|intcomma }} (Debt)
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </a>
    </div>
    {% empty %}
        No transactions carried out yet today. <a href="{% url 'home' %}">Purchase</a> some products for customers to see them here.
    {% endfor %}
</div>

{% endblock %}