#prodExists {
    display: none;
}

#priceCall {
    margin-right: 5px;
}

#prodquantity {
    text-align: center;
}

#oneProduct {
    width: 168px;
}

#oneProduct div div {
    font-size: 14px;
}

#nonProduct {
    width: 168px;
}

#nonProduct div div {
    font-size: 14px;
}