#priceCall {
    margin-right: 5px;
}

#prodquantity {
    text-align: center;
}

.oneProduct {
    width: 168px;
}

.oneProduct div div {
    font-size: 14px;
}

#product_content {
    display: none;
}

#productInfoModalLabel {
    visibility: hidden;
}

#load_button {
    display: none;
}

#load_button_two {
    display: none;
}

.nonProduct {
    width: 168px;
}

.nonProduct div div {
    font-size: 14px;
}