{% extends 'main_app/base.html' %}

{% block title %} Password Reset Complete {% endblock %}

<!-- Continue here -->
{% block content%}
<div class="col-md-6 offset-md-3">
    <h2>Password Reset Complete</h2>
    <p>Your new password has been set. You will be redirected to the login page in 5 seconds.</p>
    <p>You can click <a href="{% url 'login' %}">here</a> to login now.</p>
</div>
<script>
    setTimeout(() => {
        window.location.href = "{% url 'login' %}"
    }, 5000);
</script>
{% endblock %}