{% extends 'main_app/base.html' %}

{% block title %} Password Reset Email Sent {% endblock %}

<!-- Continue here -->
{% block content%}
<div class="col-md-6 offset-md-3">
    <h2>Password Reset Email Sent</h2>
    <br>
    <p>We've emailed you instructions for resetting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the email address you registered with, and check your spam/junk folder.</p>
</div>

{% endblock %}